/* font-family: 'Lemon', cursive;
font-family: 'Marcellus', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  --black: #000;
  --white: #fff;
  --footer-background: #101012;
  --bright-text: #c2c2c2;
  --dark-text: #323232;
  --gradient: linear-gradient(352deg, #326cff 0%, #26fff2 100%);
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  color: var(--white);
  background-color: var(--black);
}

body {
  color: var(--white);
  background-color: var(--black);
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
}

.main-section {
  padding: 35px 0;
}

footer {
  background-color: var(--footer-background);
}

.all-h3 {
  position: relative;
  color: var(--white);
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.71;
  margin-left: 25px;
  margin-bottom: 48px;
  transition: color 250ms linear;
}

.all-h3::before {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 8px;
  rotate: 90deg;
  top: 6px;
  left: -35px;
  border-radius: 4px;
  background-color: #0d1a73;
  background-image: var(--gradient);
  transition: opacity 250ms linear;
}

.all-h3:focus::before,
.all-h3:hover::before {
  opacity: 0.5;
}

@media screen and (max-width: 427px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 430px;
  }
}

@media screen and (min-width: 749px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 1155px) {
  .container {
    width: 1156px;
  }
}

@media screen and (min-width: 1439px) {
  .container {
    width: 1440px;
  }
}

.header-container {
  justify-content: space-around;
  padding: 15px 0;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 40px;
  color: var(--white);
}
.logo-m {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Lemon", cursive;
  font-size: 40px;
  color: var(--white);

  width: 70px;
  height: 70px;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(352deg, #326cff 0%, #26fff2 100%) border-box;
  border: 4px solid transparent;
  transition: border 0.3s ease-in-out;
  box-sizing: border-box;
  margin-right: 14px;
  border-radius: 14px;
}
/* .header-navigation {
} */
.nav-list {
  gap: 54px;
}
.nav-link {
  position: relative;
  color: white;
  opacity: 0.5;
  text-decoration: none;

  padding: 7px 0;

  transition: opacity 250ms linear;
}

.nav-link:after {
  content: "";
  position: absolute;
  opacity: 0;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;

  border-radius: 2px;
  background: linear-gradient(352deg, #326cff 0%, #26fff2 100%);
  background-color: var(--white);
  transition: opacity 250ms linear;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link:is(:focus, :hover) {
  opacity: 1;
}

.nav-link.current {
  opacity: 1;
}

.current:after,
.current:after {
  content: "";
  position: absolute;
  opacity: 1;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;

  border-radius: 2px;
  background: linear-gradient(352deg, #326cff 0%, #26fff2 100%);
  background-color: var(--white);
}

.mobile-menu-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}

.mobile-menu-button svg {
  stroke: var(--white);
  fill: var(--white);
  opacity: 0.5;
}

.mobile-menu-button:focus svg,
.mobile-menu-button:hover svg {
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .mobile-menu-button {
    width: 20px;
    height: 20px;
  }
  .mobile-menu-button svg {
    width: 23px;
    height: 16px;
  }

  .nav-list {
    gap: 20Fpx;
  }
  .search-ring-log-in {
    display: none;
  }
}

@media screen and (min-width: 1156px) {
  .mobile-menu-button {
    display: none;
  }
  .search-ring-log-in {
    display: flex;
  }
}

@media screen and (min-width: 1439px) {
}

.search-ring-log-in {
}
.icon-svg {
  stroke: var(--white);
}
.icon-use {
}
.mobile-menu-button {
}
.mobile-menu-use {
}
.main-section {
}

.hero-section {
  background-image: url(../images/justice-xl.jpg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
  width: 100%;
}

.hero-div {
  padding: 122px 0px 200px 85px;
}

.main-h1 {
  color: var(--white);
  font-family: "Marcellus", serif;
  width: 532px;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.87;
  margin-bottom: 39px;
}
.hero-info {
  align-items: baseline;
  gap: 18px;
  font-size: 16px;
  font-weight: 800;
  line-height: 0.62;
  margin-bottom: 32px;
}

.stars {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.hero-paragraph {
  color: var(--bright-text);
  width: 508px;
  margin-bottom: 30px;
}

.element-with-border {
  padding: 6px 16px;
  border: 2px solid transparent;
  border-radius: 14px;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(352deg, #326cff 0%, #26fff2 100%) border-box;
}

.icon-star {
  margin-left: 16px;
}
.hero-links-div {
  display: flex;
  gap: 30px;
}
.hero-link-1,
.hero-link-2 {
  padding: 15px 30px;
  background-image: none;
  background-color: var(--white);
  color: var(--dark-text);
  border-radius: 40px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;
  padding: 0;

  transition: background-color 150ms linear, color 150ms linear,
    background-image 250ms linear;
}

.hero-link-1 {
  padding: 15px 30px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-link-2 {
  padding: 15px 30px;
}

.hero-links-div .hero-link-1:hover,
.hero-links-div .hero-link-1:focus,
.hero-links-div .hero-link-2:hover,
.hero-links-div .hero-link-2:focus {
  background-image: var(--gradient);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.5));
  color: var(--white);
}

.hero-link-1 svg {
  margin-right: 6px;
  transition: fill 250ms linear;
}

.hero-link-1:hover svg {
  fill: var(--white);
}

@media screen and (max-width: 767px) {
  .hero-info {
    font-size: 12px;
  }
  .hero-section {
    background-image: url(../images/justice-xl.jpg);
    background-position-x: +400%;
  }
  .hero-div {
    padding: 200px 0px 20px 40px;
  }

  .hero-paragraph {
    color: var(--bright-text);
    width: 300px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .main-h1 {
    width: 300px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.87;
    margin-bottom: 39px;
  }

  .hero-links-div a {
    font-size: 10px;
    padding: 8px 16px;
    width: 120px;
  }

  .hero-links-div {
    display: flex;
  }
}
@media screen and (min-width: 767px) {
}
@media screen and (min-width: 1156px) {
}
@media screen and (min-width: 1440px) {
}

.trending {
}
.visualy-hidden {
}
.tv-shows-page-link {
}
.trending-tv-shows {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* .trending-tv-shows-items:nth-child(2n) {
  display: none;
} */

.trending-tv-shows-items {
  transition: transform 250ms linear, filter 250ms linear;
  border-radius: 20px;
  overflow: hidden;
}

.trending-tv-shows-items:hover,
.trending-tv-shows-items:focus {
  transform: scale(1.02);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.3));
}

.tv-show-link {
}
.movie-page-link {
}
.trending-movies {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.trending-movies-items {
  transition: transform 250ms linear, filter 250ms linear;
  border-radius: 20px;
  overflow: hidden;
}

/* .trending-movies-items:nth-child(2n) {
  display: none;
} */

.trending-movies-items:hover,
.trending-movies-items:focus {
  transform: scale(1.02);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.3));
}
.movie-link {
}

.tranding-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--white);
  color: var(--dark-text);
  border-radius: 40px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms linear, color 250ms linear;
}

.tranding-button:hover,
.tranding-button:focus {
  background-image: var(--gradient);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
  }

  .search-ring-log-in {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .trending-movies {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .tvs-movies-imgs {
    width: 288px;
    height: 427px;
  }
  .item-three ~ li {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .item-three ~ li {
    display: none;
  }

  .nav-list {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1156px) {
  .item-three ~ li {
    display: block;
  }
  .item-four ~ li {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .item-three ~ li {
    display: block;
  }
}

.ganers-page-link {
}
.popular-ganers-list {
  justify-content: center;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.popular-ganers-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 25px 110px;
  width: 150px;
}

.popular-ganers-list-items:is(:focus, :hover) {
  transform: scale(1.1);
}

.popular-ganers-list-items svg {
  margin: 0 auto;
}

.gener-item-one {
  background-image: linear-gradient(136deg, #fd093f 0%, #f383f1 100%);
  fill: var(--white);
}
.gener-item-two {
  background: linear-gradient(143deg, #0fffda 0%, #3cdb77 100%);
}
.gener-item-three {
  background: linear-gradient(136deg, #b936ff 0%, #57deda 100%);
}
.gener-item-four {
  background: linear-gradient(136deg, #fd093f 0%, #fb1378 0.01%, #fccb1a 100%);
}
.gener-item-five {
  background: linear-gradient(136deg, #ff6472 0%, #fda75d 100%);
}

.gener-item-six {
  background: linear-gradient(137deg, #13547a 0%, #80d0c7 100%);
}
.gener-item-seven {
  background: linear-gradient(137deg, #fff77b 0%, #ffbf42 100%);
}
.gener-item-eight {
  background: linear-gradient(136deg, #1fa2ff 0%, #1fa2ff 0.01%, #1f535c 97.4%);
}

.ganers-link {
  display: flex;
  flex-direction: column;
  color: var(--white);
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 0, 71;
}

.icon-ganers svg {
  fill: var(--white);
  stroke: var(--white);
}

@media screen and (max-width: 767px) {
  .geners-section {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .popular-ganers-list-items {
    height: 134px;
    width: 237px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1156px) {
  .popular-ganers-list-items {
    height: 178px;
    width: 316px;
    border-radius: 20px;
  }
  .popular-ganers-list {
    gap: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .popular-ganers-list {
    gap: 28px;
  }
  .popular-ganers-list-items {
    width: calc((100% - 84px) / 4);
    border-radius: 20px;
  }
}

.actors-page-link {
}

.actors-list-items {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.actor-link {
  display: flex;
  flex-direction: column;
  color: var(--white);
  text-decoration: none;
  color: #fff;
  text-align: center;
  gap: 30px;

  font-weight: 700;
  line-height: 1.11;
}

.actor-five {
  border-radius: 50%;
}

.coming-soon {
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.coming-soon-movie-link img {
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.coming-soon-div {
  width: 337px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 35px 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background: linear-gradient(220deg, #0d1a73 29.09%, #000 70.41%);
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1);
}

.coming-soon-div img {
  width: 100%;
  margin: 0 auto;
}

.register {
  display: flex;
  padding-top: 85px;
  padding-bottom: 120px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.coming-soon-p {
  align-items: center;
  margin: 0;
  margin-top: 31px;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.31;
  text-transform: capitalize;
}

.coming-soon-page-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .coming-soon-div {
    width: 337px;
    height: 168px;
  }

  .coming-soon-movie-link img {
    width: 337px;
    height: 168px;
  }

  .actor-three ~ li {
    display: none;
  }

  .register-section {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .coming-soon-div {
    width: 505px;
    height: 252px;
  }
  .coming-soon-movie-link img {
    width: 505px;
    height: 252px;
  }
  .actors-list-items {
    margin: 0 auto;
  }

  .actors {
    width: 750px;
  }
}
@media screen and (min-width: 1156px) {
  .coming-soon {
    justify-content: center;
    flex-direction: row;
  }
  .coming-soon-div {
    width: 505px;
    height: 252px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .coming-soon-movie-link img {
    width: 505px;
    height: 252px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
  .coming-soon-p {
    font-size: 22px;
  }

  .actors {
    width: 1156px;
  }
}
@media screen and (min-width: 1440px) {
  .coming-soon-p {
    align-items: center;
    margin: 0;
    margin-top: 31px;
    padding: 0;
    color: #fff;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.31;
    text-transform: capitalize;
  }

  .coming-soon-div {
    width: 675px;
    height: 336px;
    padding: 70px 120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .coming-soon-movie-link img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    width: 675px;
    height: 336px;
    padding: 0;
    margin: 0;
  }

  .coming-soon-p {
    font-size: 28px;
  }

  .actors {
    width: 1440px;
  }
}

.beuty-container-register {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
  padding: 71px 57px;
  width: 85%;
  height: 270px;
  border-radius: 20px;
  background: linear-gradient(0deg, #000 0%, #fff 100%);
  backdrop-filter: blur(25px);
  background-image: url(../images/gradient.jpg);
  background-size: cover;
  border-radius: 30px;
}

.register-paragraph {
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

.registration-button {
  padding: 15px 18px;
  background-image: var(--white);
  color: var(--dark-text);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.5));
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
  border-radius: 25px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;

  width: 141px;
  height: 50px;

  transition: background-image 250ms linear, color 250ms linear;
}

.registration-button:hover,
.registration-button:focus {
  background-image: var(--gradient);
  color: var(--white);
}

.info-list-part-one {
}
.info-list-part-two {
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 190px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.logo-footer {
  margin-top: 20px;
  margin-right: 84px;
  align-items: baseline;
}
.logo-footer .logo-m {
  align-items: center;
}

.info-list-part-one {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 52px;
  gap: 22px;
}

.info-list-part-two {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 52px;
  row-gap: 22px;
}

.footer-links {
  opacity: 0.5;
}

.footer-links:focus,
.footer-links:hover {
  opacity: 1;
}

@media screen and (max-width: 427px) {
  .register-paragraph {
    text-align: center;
    width: 200px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 40px 100px;
    font-size: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .logo-list-one {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  .logo-footer {
    margin-bottom: 60px;
  }

  .register-paragraph {
    text-align: center;
    width: 100%;
    font-size: 30px;
  }

  .beuty-container-register {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    height: 500px;
    background-position-x: 25%;
  }

  .registration-button {
    padding: 5px 8px;
    width: 250px;
    height: 80px;
    font-size: 20px;
  }

  .tranding-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 749px) {
  .beuty-container-register {
    gap: 30px;
    padding: 35px 20px;
  }

  .register-paragraph {
    width: 520px;
    font-size: 38px;
    text-align: center;
  }

  .beuty-container-register {
    flex-direction: column;
    padding: 50px 30px;
    height: 370px;
  }
  .footer-container {
    width: 800px;
    padding: 10px 25px;
    flex-direction: column;
  }
  .info-list-part-two {
    margin-top: 40px;
    height: 140px;
  }
  .logo-list-one {
    justify-content: center;
  }
}

@media screen and (min-width: 1156px) {
  .footer-container {
    padding: 40px 100px;
    font-size: 16px;
    width: 800px;
  }

  .beuty-container-register {
    gap: 50px;
    padding: 50px 30px;
    flex-direction: row;
  }

  .register-paragraph {
    width: 680px;
    font-size: 48px;
    text-align: start;
  }
  .info-list-part-one {
    margin-left: 70px;
  }
  .info-list-part-two {
    margin-top: 40px;
    height: 140px;
  }
  .logo-list-one {
    justify-content: center;
    flex-direction: row;
  }

  .logo-footer {
    margin-top: 60px;
    margin-right: 0;
  }

  .actors-list-items {
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
  }
  .coming-soon-div {
    margin: 0;
  }
}

@media screen and (min-width: 1439px) {
  .info-list-part-two {
    height: 140px;
    margin-top: 20px;
  }

  .beuty-container-register {
    gap: 60px;
    padding: 71px 57px;
  }

  .register-paragraph {
    width: 792px;
    font-size: 64px;
  }

  .info-list-part-one {
    margin-left: 0px;
  }

  .footer-container {
    padding: 70px 190px;
    font-size: 18px;
    width: 1440px;
    flex-direction: row;
  }

  .logo-list-one {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .logo-footer {
    margin-top: 20px;
    margin-right: 75px;
  }

  .actors-list-items {
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
  }

  .coming-soon-section {
    justify-content: center;
    align-items: center;
  }
}
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-5 17:45:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-5 17:52:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-5 17:55:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
